INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
config.h.in~
configure~
debian/.debhelper
debian/autoreconf.after
debian/autoreconf.before
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
omf.make
plugins/Makefile
plugins/Makefile.in
plugins/liquidctl/.deps
plugins/liquidctl/.libs
plugins/liquidctl/Makefile
plugins/liquidctl/Makefile.in
plugins/liquidctl/libliquidctl.la
plugins/liquidctl/liquidctl-plugin.lo
plugins/liquidctl/liquidctl-plugin.o
plugins/liquidctl/testlibliquidctl
plugins/liquidctl/testlibliquidctl-liquidctl-plugin.o
plugins/liquidctl/testlibliquidctl-testlibliquidctl.o
stamp-h1
xmldocs.make
