Package: mate-sensors-applet-plugin-liquidctl
Version: 0.86.0
Architecture: amd64
Maintainer: Carsten Paeth <calle@calle.in-berlin.de>
Installed-Size: 26
Depends: libmate-sensors-applet-plugin0 (>= 1.26.0), mate-sensors-applet-common (>= 1.26.0), liquidctl (>= 1.5.1), libc6 (>= 2.4), libglib2.0-0 (>= 2.28.0)
Section: x11
Priority: optional
Description: MATE Sensors Applet Plugin to readings from hardware sensors,
  with liquidctl.
